@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 9.8%;
    --card: 0 0% 100%;
    --card-foreground: 210 40% 9.8%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 283 69% 35%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 180 100% 25%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 89.8%;
    --ring: 283 69% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    /* Custom Sidebar Vars for dark theme */
    --sidebar-background: 210 29% 15%;
    --sidebar-foreground: 210 40% 80%;
    --sidebar-primary: 283 69% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 29% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 29% 25%;
    --sidebar-ring: 283 69% 55%;
  }

  .dark {
    --background: 210 29% 25%;
    --foreground: 210 40% 98%;
    --card: 210 29% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 210 29% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 283 69% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 29% 30%;
    --muted-foreground: 210 40% 60%;
    --accent: 180 100% 30%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 29% 35%;
    --input: 210 29% 35%;
    --ring: 283 69% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 210 29% 15%;
    --sidebar-foreground: 210 40% 80%;
    --sidebar-primary: 283 69% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 29% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 29% 25%;
    --sidebar-ring: 283 69% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
